
.title{
  width: 100ev; 
  text-align: center;
  font-weight: 700;
  font-size: 10ev;
  margin:15px;
}


.search {
  
  width: 100%;
 
  display: flex;
  justify-content: center;
 
}

.searchButton{
  
  background-color: rgb(48, 118, 165);
  color: aliceblue;
  padding:5px;
  margin: 5px;
  border-radius: 5px;

}
.covidwrap{
 
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    
  }

  .covidbox{
    margin: 2em;
    height: 5em;
    width: 10em;
    color: white;
    background-color: rgb(1, 25, 66);
    border-radius: 0.5em;
    font-size: 1em;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }